@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Poppins' , sans-serif;
}
button{
    font-size: 0.8rem;
    font-weight: 600;
    outline: none;
    border:none;
    background-color: black;
    color:aliceblue;
    padding: 13px 35px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
button:hover{
    background-color: black;
    top: 0;
    left: 0;
}
.navbar{
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color:black;
    transition: 0.3s ease;
}  

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: coral;
}

.navbar i {
font-size: 1.2rem;
padding: 0 7px;
cursor: pointer;
}

#bar {
font-size: 1.5rem;
padding: 7px;
cursor:pointer;
font-weight: 500;
transition: 0.3s ease;
color: black;
}

#bar:hover,
#bar.active{
    color:antiquewhite;
}

/* Moblie nav */

.navbar-light .navbar-toggler{
    border:none;
    outline: none;
}


#home {
background-image: url("img/bg7.jpg");
width: 100%;
height: 90vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;

}

#home span{
    color: coral;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details{
cursor: pointer;
background-color: rgba(245,178,178,0.7);
}

#new .one .details button{
display: inline-block;
font-size: 14px;
font-weight: 500;
color:black;
background: none;
text-transform: uppercase;
border-bottom: 1px solid black;
padding: 2.5px;
transform: translateY(70px);
transition: 0.3s ease;
}

#new .one .details button:hover{
    color:beige;
    border-radius: 1px solid white;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* products */

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: orangered;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all ;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
} 

.star i{
    font-size: 0.8rem;
    color:goldenrod;
}
.star{
    padding: 10px 0;
}
#banner{
background-image: url("img/banner/5.jpg");
width: 100%;
height: 48vh;
background-repeat: no-repeat;
background-position: top 70px center;
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-self: flex-start;
}
#banner h4{
    color: white;
}
#banner h1{
    color: white;
}
#banner button{
    color: orangered;
}
footer{
    background-color: black;
}
footer h5{
 color: whitesmoke;
 font-weight: 700;
 font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: gray;
}
 footer li a:hover{
    font-size: 0.8rem;
    color: gray;
 }

 footer .copyright a{
    color:black;
    width: 38px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
 }
 /* blog */

#blog-container .post .post-img{
overflow:hidden;
cursor:pointer;
}
#blog-container .post img{
    transition:0.3s ease;
}
#blog-container.post:hover img{
    transform: scale(1.3) rotate(-10deg);
    opacity: 0.8;
 }
 #blog-container.post:hover h3{
    color: coral;
 }
 /* new cart  section */
 
 /* cart */
 #cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
 }
 #cart-container table thead{
    font-weight: 700;
 }
 #cart-container table thead td{
    background: coral;
    color: whitesmoke;
    border: none;
 }
 #cart-container table td{
    border: 1px solid gray;
    text-align:center;
 }
 #cart-container table td:nth-child(1) {
    width: 90px;
 }
 #cart-container table td:nth-child(2),
 #cart-container table td:nth-child(3) {
    width: 210px;
 } 
 #cart-container table td:nth-child(4),
 #cart-container table td:nth-child(5),
 #cart-container table td:nth-child(6){
    width: 180px;
 }
 #cart-container table tbody img{
    width: 100px;
    height: 95px;
    object-fit: cover;
 }
 #cart-container table tbody i{
    color:gray;
 }
 #cart-bottom .coupon>div,
 #cart-bottom .total>div{
    border: 1px solid black;
 }



 #cart-bottom .coupon h5,
 #cart-bottom .total h5{
    background: coral;
    color: aliceblue;
    border: none;
    padding: 9px 12px;
    font-weight: 700;
 }
 #cart-bottom .coupon p,
 #cart-bottom .coupon input{
    padding: 0 12px;
 }

 #cart-bottom .coupon input{
    height: 44px;
 }
 
 #cart-bottom .coupon input{
    margin: 0 0 20px 12px;
 }
 #cart-bottom .total div>div{
    padding: 0 12px;
 }
 #cart-bottom .total h6{
    color:black;
 }
 .second-hr{
    background-color: antiquewhite;
    width: 100%;
    height: 1px;
 }
 #card-bottom .total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
 }
 /* about */
  /* about */
  #aboutus{
    background-image: url(img/about/bgz1.png);
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    }
